.divider-style {
    margin-top:70px;
    position:relative;
  }
  
  .divider-style span {
    background:#fff;
    padding:0 20px;
    position:relative;
    z-index:5;
  }
  
  .divider-style:before {
    content:"";
    display:block;
    border-top:solid 1px black;
    width:100%;
    height:1px;
    position:absolute;
    top:50%;
    z-index:1;
  }
  .team-clean {
    color:#313437;
    background-color:#fff;
  }
  
  .team-clean p {
    color:#7d8285;
  }
  
  .team-clean h2 {
    font-weight:bold;
    margin-bottom:40px;
    padding-top:40px;
    color:inherit;
  }
  
  @media (max-width:767px) {
    .team-clean h2 {
      margin-bottom:25px;
      padding-top:25px;
      font-size:24px;
    }
  }
  
  .team-clean .intro {
    font-size:16px;
    max-width:500px;
    margin:0 auto;
  }
  
  .team-clean .intro p {
    margin-bottom:0;
  }
  
  .team-clean .people {
    padding-bottom:40px;
  }
  
  .team-clean .item {
    text-align:center;
    padding-top:50px;
  }
  
  .team-clean .item .name {
    font-weight:bold;
    margin-top:28px;
    margin-bottom:8px;
    color:inherit;
  }
  
  .team-clean .item .title {
    text-transform:uppercase;
    font-weight:bold;
    color:#d0d0d0;
    letter-spacing:2px;
    font-size:13px;
  }
  
  .team-clean .item .description {
    font-size:15px;
    margin-top:15px;
    margin-bottom:20px;
  }
  
  .team-clean .item img {
    max-width:160px;
  }
  
  .team-clean .social {
    font-size:18px;
    color:#a2a8ae;
  }
  
  .team-clean .social a {
    color:inherit;
    margin:0 10px;
    display:inline-block;
    opacity:0.7;
  }
  
  .team-clean .social a:hover {
    opacity:1;
  }
    