/* Login */
.login-dark {
    height:950px;
    background:#475d62 url('../../imgs/bg_home.jpeg');
    background-size:cover;
    position:relative;
  }
  
  .login-dark form {
    max-width:320px;
    width:90%;
    background-color:#fff;
    padding:40px;
    border-radius:4px;
    transform:translate(-50%, -50%);
    position:absolute;
    top:50%;
    left:50%;
    color:black;
    box-shadow:3px 3px 4px rgba(0,0,0,0.2);
  }
  
  .login-dark .illustration {
    text-align:center;
    padding:15px 0 20px;
   
  }
  
  .login-dark form .form-control {
    background:none;
    border:none;
    border-bottom:1px solid #434a52;
    border-radius:0;
    box-shadow:none;
    outline:none;
    color:inherit;
  }
  
  .login-dark form .btn-primary {
    background:#FF8844;
    border:none;
    border-radius:4px;
    padding:11px;
    box-shadow:none;
    margin-top:26px;
    text-shadow:none;
    outline:none;
  }
  
  .login-dark form .btn-primary:hover, .login-dark form .btn-primary:active {
    background:#214a80;
    outline:none;
  }
  
  .login-dark form .forgot {
    display:block;
    text-align:center;
    font-size:12px;
    color:#6f7a85;
    opacity:0.9;
    text-decoration:none;
  }
  
  .login-dark form .forgot:hover, .login-dark form .forgot:active {
    opacity:1;
    text-decoration:none;
  }
  
  .login-dark form .btn-primary:active {
    transform:translateY(1px);
  }
  
  /* Signup */
  .signup-dark {
    height:950px;
    background:#475d62 url('../../imgs/bg_home.jpeg');
    background-size:cover;
    position:relative;
  }
  
  .signup-dark form {
    max-width:320px;
    width:90%;
    background-color:#fff;
    padding:40px;
    border-radius:4px;
    transform:translate(-50%, -50%);
    position:absolute;
    top:50%;
    left:50%;
    color:black;
    box-shadow:3px 3px 4px rgba(0,0,0,0.2);
  }
  
  .signup-dark .illustration {
    text-align:center;
    padding:15px 0 20px;
    font-size:100px;
  }
  
  .signup-dark form .form-control {
    background:none;
    border:none;
    border-bottom:1px solid #434a52;
    border-radius:0;
    box-shadow:none;
    outline:none;
    color:inherit;
  }
  
  .signup-dark form .btn-primary {
    background:#FF8844;
    border:none;
    border-radius:4px;
    padding:11px;
    box-shadow:none;
    margin-top:26px;
    text-shadow:none;
    outline:none;
  }
  
  .signup-dark form .btn-primary:hover, .signup-dark form .btn-primary:active {
    background:#214a80;
    outline:none;
  }
  
  .signup-dark form .forgot {
    display:block;
    text-align:center;
    font-size:12px;
    color:#6f7a85;
    opacity:0.9;
    text-decoration:none;
  }
  
  .signup-dark form .forgot:hover, .signup-dark form .forgot:active {
    opacity:1;
    text-decoration:none;
  }
  
  .signup-dark form .btn-primary:active {
    transform:translateY(1px);
  }