@media (max-width:767px) {
    .header-mini {
      padding-bottom:80px;
    }
  }
  
  .header-mini .navbar {
    background:#f6f6f6;
    padding-top:12px;
    color:black;
    border-radius:0;
    box-shadow:none;
  }
  
  @media (max-width:767px) {
    .header-mini .navbar {
      padding-top:0;
      padding-bottom:0;
    }
  }
  
  @media (max-width:767px) {
    .header-mini .navbar .navbar-header {
      padding-top:10px;
      padding-bottom:10px;
    }
  }
  
  @media (max-width:767px) {
    .header-mini .navbar .navbar-right {
      margin-bottom:20px;
    }
  }
  
  .header-mini .navbar .navbar-brand {
    overflow: visible;
    padding-top: 0;
    padding-bottom: 0
  }
  
  .header-mini .navbar .navbar-collapse .p {
    margin-top:5px;
  }
  
  .header-mini .navbar .navbar-collapse .p .login {
    color:black;
    margin-right:10px;
    text-decoration:none;
  }
  
  .header-mini .navbar .navbar-collapse .p .login:hover {
    color:#7e7e7e;
  }
  
  .header-mini .navbar .navbar-toggle {
    border-color:#747474;
  }
  
  .header-mini .navbar .navbar-toggle:hover, .header-mini .navbar-toggle:focus {
    background:none;
  }
  
  .header-mini .navbar .navbar-toggle .icon-bar {
    background-color:#eee;
  }
  
  .header-mini .navbar .navbar-collapse, .header-mini .navbar .navbar-form {
    border-color:#636363;
  }
  
  .header-mini .navbar.navbar .navbar-nav > li > a {
    padding-left:18px;
    padding-right:18px;
  }
  
  .header-mini .navbar.navbar-default .navbar-nav > li > a {
    color:black;
  }
  
  .header-mini .navbar.navbar-default .navbar-nav > li > a:focus, .header-mini .navbar.navbar-default .navbar-nav > li > a:hover {
    color:#7e7e7e !important;
    background-color:transparent;
  }
  
  .header-mini .navbar .navbar-nav > li > .dropdown-menu {
    margin-top:-5px;
    box-shadow:0 4px 8px rgba(0,0,0,.1);
    background-color:#fff;
    border-radius:2px;
  }
  
  .header-mini .navbar .dropdown-menu > li > a:focus, .header-mini .navbar .dropdown-menu > li > a {
    line-height:2;
    font-size:14px;
    color:#37434d;
  }
  
  .header-dark .navbar .dropdown-menu > li > a:focus, .header-mini .navbar .dropdown-menu > li > a:hover {
    background:#ebeff1;
  }
  
  .header-mini .navbar .action-button, .header-mini .navbar .action-button:active {
    border-radius:20px;
    color:#fff;
    box-shadow:none;
    border:none;
    text-shadow:none;
    padding:10px 22px;
    transition:background-color 0.25s;
  }
  
  .header-mini .navbar .navbar-form label {
    color:#ccc;
  }
  
  .header-mini .navbar .navbar-form .search-field {
    background:none;
    border:none;
    border-bottom:1px solid transparent;
    border-radius:0;
    color:#ccc;
    box-shadow:none;
    color:inherit;
    transition:border-bottom-color 0.3s;
  }
  
  @media (max-width:767px) {
    .header-mini .navbar .navbar-form .search-field {
      display:inline-block;
      width:80%;
    }
  }
  
  .header-mini .navbar .navbar-form .search-field:focus {
    border-bottom:1px solid #ccc;
  }