.header-dark {
  background-image: url('../../imgs/bg_home.jpeg')!important;
  background-color: gray;
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 90vh;
  height: 60%;
}

@media (max-width:767px) {
  .header-dark {
    padding-bottom:80px;
  }
}

.header-dark .navbar {
  background:transparent;
  padding-top:12px;
  padding-bottom:10px;
  color:#fff;
  border-radius:0;
  box-shadow:none;
  border:none;
}

@media (max-width:767px) {
  .header-dark .navbar {
    padding-top:0;
    padding-bottom:0;
  }
}

@media (max-width:767px) {
  .header-dark .navbar .navbar-header {
    padding-top:10px;
    padding-bottom:10px;
  }
}

@media (max-width:767px) {
  .header-dark .navbar .navbar-right {
    margin-bottom:20px;
  }
}

.header-dark .navbar .navbar-brand {
  overflow: visible;
  padding-top: 0;
  padding-bottom: 0
}

.header-dark .navbar .navbar-collapse .p {
  margin-top:5px;
}

.header-dark .navbar .navbar-collapse .p .login {
  color:#d9d9d9;
  margin-right:10px;
  text-decoration:none;
}

.header-dark .navbar .navbar-collapse .p .login:hover {
  color:#fff;
}

.header-dark .navbar .navbar-toggle {
  border-color:#747474;
}

.header-dark .navbar .navbar-toggle:hover, .header-dark .navbar-toggle:focus {
  background:none;
}

.header-dark .navbar .navbar-toggle .icon-bar {
  background-color:#eee;
}

.header-dark .navbar .navbar-collapse, .header-dark .navbar .navbar-form {
  border-color:#636363;
}

.header-dark .navbar.navbar .navbar-nav > li > a {
  padding-left:18px;
  padding-right:18px;
}

.header-dark .navbar.navbar-default .navbar-nav > li > a {
  color:#d9d9d9;
}

.header-dark .navbar.navbar-default .navbar-nav > li > a:focus, .header-dark .navbar.navbar-default .navbar-nav > li > a:hover {
  color:#fcfeff !important;
  background-color:transparent;
}

.header-dark .navbar .navbar-nav > li > .dropdown-menu {
  margin-top:-5px;
  box-shadow:0 4px 8px rgba(0,0,0,.1);
  background-color:#fff;
  border-radius:2px;
}

.header-dark .navbar .dropdown-menu > li > a:focus, .header-dark .navbar .dropdown-menu > li > a {
  line-height:2;
  font-size:14px;
  color:#37434d;
}

.header-dark .navbar .dropdown-menu > li > a:focus, .header-dark .navbar .dropdown-menu > li > a:hover {
  background:#ebeff1;
}

.header-dark .navbar .action-button, .header-dark .navbar .action-button:active {
  background:#208f8f;
  border-radius:20px;
  color:#fff;
  box-shadow:none;
  border:none;
  text-shadow:none;
  padding:10px 22px;
  transition:background-color 0.25s;
}

.header-dark .navbar .action-button:hover {
  background:#269d9d;
}

.header-dark .navbar .navbar-form label {
  color:#ccc;
}

.header-dark .navbar .navbar-form .search-field {
  background:none;
  border:none;
  border-bottom:1px solid transparent;
  border-radius:0;
  color:#ccc;
  box-shadow:none;
  color:inherit;
  transition:border-bottom-color 0.3s;
}

@media (max-width:767px) {
  .header-dark .navbar .navbar-form .search-field {
    display:inline-block;
    width:80%;
  }
}

.header-dark .navbar .navbar-form .search-field:focus {
  border-bottom:1px solid #ccc;
}

.header-dark .hero {
  display: flex;
  justify-content: center;
  margin-top: 20em;
}

@media (max-width:767px) {
  .header-dark .hero {
    margin-top:10em;
  }
}

.header-dark .hero h1,
.header-dark .hero h2 {
  color:#fff;
}