/* "latest order" border design */
.choose-feed {
    position: relative;
    z-index: 5;
}
.visible {
    opacity: 1!important;
    filter: alpha(opacity=100)!important;
    -khtml-opacity: 1!important;
    -moz-opacity: 1!important;
}

.choose-feed ul {
    list-style: none;
    background-color: #fff;
    margin: 0;
    padding: 0;
    text-align: center;
    box-shadow: 0 5px 5px -4px #d4d4d4;
}
.choose-feed ul li {
    background: none #fff;
    position: relative;
    display: inline-block;
    margin: 0 auto;
    padding: 10px 20px;
    color: #292929;
    font-weight: 700;
    font-size: 20px;
}
.choose-feed ul li .triangle-down {
    width: 0;
    height: 0;
    content: "";
    -webkit-transform-origin: 0 0;
    -webkit-transform: rotate(-45deg);
    -moz-transform-origin: 0 0;
    -moz-transform: rotate(-45deg);
    transform-origin: 0 0;
    transform: rotate(-45deg);
    position: absolute;
    border-top: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff;
    border-left: 10px solid #fff;
    box-shadow: -3px 3px 3px 0 #d4d4d4;
    left: 40%;
    left: calc(48% - 10px);
    top: 37px;
}

/* Cards design */
.stars {
    display: flex;
    justify-content: flex-end;
    font-size: 20px;
}

.card-wrapper {
    background-color: #f6f6f6;
    padding-bottom: 20px;
}

.card-wrapper img {
    width: 100px;
}