/* Main body */

.jumbotron {
    width: 100%;
    min-height: 63em;
    height: 100%;
    display: flex;
    align-items: center;
    background-image: url('https://hdwallsource.com/img/2014/4/free-background-wallpaper-22918-23554-hd-wallpapers.jpg');
  }
  
  .jumbo-center {
    color: white;
  }
  
  section {
    padding: 50px 0 30px 0;
  }
  
  .card {
    box-shadow: 1px 1px 10px black;
    padding: 10px;
    margin: 5px 0 5px 0;
    img {
      width: 100px;
    }
  }